<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMFA"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity android:name=".attendance.AttendanceMarkActivity"
            android:screenOrientation="userPortrait"></activity>
        <activity android:name=".wfh.WFHActivity"
            android:screenOrientation="userPortrait"></activity>
        <activity
            android:name=".Leave.OtherLeavesActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.UpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.HolidayActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payroll.SalaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payroll.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leave.LeaveBalanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leave.LeaveApplicationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leave.LeaveApplicationDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payroll.PayrollActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.AndroidXCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.UserDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.genius.imfa"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" /> <!-- Create this XML resource -->
        </provider>
    </application>

</manifest>